.monaco-editor .margin-view-overlays .line-numbers {
  cursor: default;
}

.debug-breakpoint-glyph {
  background: url('src/media/breakpoint.svg') center center no-repeat;
}
.debug-breakpoint-disabled-glyph {
  background: url('src/media/breakpoint-disabled.svg') center center no-repeat;
}
.debug-breakpoint-hint-glyph {
  background: url('src/media/breakpoint-hint.svg') center center no-repeat;
}