.debug-breakpoint-glyph {
  background: url('src/media/debug-breakpoint.svg') center center no-repeat;
}
.debug-breakpoint-disabled-glyph {
  background: url('src/media/debug-breakpoint-disabled.svg') center center no-repeat;
}
.debug-breakpoint-hint-glyph {
  background: url('src/media/debug-breakpoint-hint.svg') center center no-repeat;
}
.debug-breakpoint-unverified-glyph {
  background: url('src/media/debug-breakpoint-unverified.svg') center center no-repeat;
}
.debug-current-step {
  background-color: deepskyblue;
}
.debug-complete-step {
  background-color: green;
}
.debug-error-step {
  background-color: red;
}