html {
    text-align: left
}

body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    color: #4b4b4b;
    background-color: #fff;
    font-family: Almarai, Arial, sans-serif;
    font-size: 10pt;
    cursor: default;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#VanessaEditorEventForwarder {
    display: none;
}

.vanessa-hidden {
    display: none !important;
}

#VanessaContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#VanessaEditorContainer {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#VanessaEditorContainer > div {
    display: none;
}

#VanessaEditorContainer > div:last-of-type {
    display: block;
}

#VanessaEditorContainer > div {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#VanessaTabsContainer {
    display: flex;
    flex: 0 0 2em;
    fill: #4b4b4b;
    z-index: 0;
    overflow: hidden;
    border-width: 0px 0px 1px;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .4);
    user-select: none
}

.vanessa-tab-panel {
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
    flex: 1 1 100%;
    display: inherit;
    margin: 0;
    padding: 0;
}

.vanessa-tab-item {
    margin: 0 0 0 -1px;
    padding: 0 5px;
    display: inherit;
    flex: 1 1 auto;
    align-items: center;
    border-width: 0 1px;
    border-style: solid;
    border-color: #a0a0a0;
    color: #333;
    background-color: #f2f2f2;
    position: relative;
    line-height: 1.2em;
    z-index: 0;
}

.vanessa-tab-item>div:not(.vanessa-tab-close) {
    padding: 4px 0
}

.vanessa-tab-close {
    font-family: "codicon";
    margin: -2px;
    padding: 0;
}

.vanessa-tab-close {
    fill: #4b4b4b;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1.2em;
    height: 1.2em;
}

.vanessa-tab-close:before {
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.vanessa-tab-close:HOVER:before {
    border-radius: 50%;
    box-shadow: 0 0 0 1em silver inset;
    content: "\ea76" !important;
}

.vanessa-tab-select .vanessa-tab-item {
    background-color: #fff
}

.vanessa-tab-select .vanessa-tab-item:before {
    content: '';
    background: #009646;
    position: absolute
}

.vanessa-tab-select .vanessa-tab-item:before {
    height: 2px;
    right: 3px;
    bottom: 2px;
    left: 3px
}

.vanessa-tab-item {
    transition: width .1s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vanessa-tab-box {
    transition: padding .1s linear, left .1s linear, right .1s linear, top .1s linear;
    display: flex;
    margin: 0;
    padding: 0;
}

.vanessa-tab-title {
    flex: 1 1 auto;
    margin: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#VanessaEditorContainer > div.monaco-diff-editor {
    position: absolute !important;
    height: 100%;
}

#VanessaEditorContainer > div.vanessa-viewer {
    position: absolute !important;
    padding: 0 1em 0 1em;
    overflow-y: auto;
}
